* {
    margin : 0;
    padding : 0;
}
html {
    scroll-behavior: smooth;
}
.bg-blue {
    background-color : #B73F3F;            
    height : 200px;
}

#avatar {
        background-color: goldenrod;
        width: 150px;
        height: 150px;
        border-radius: 50%; 
        overflow: hidden;    
        margin: 0 auto;        
        position: relative;                
        top: 50px;
}
.summary {
    width: 50%;                 
    margin: 0 auto;             
    text-align: center;          
}
.greeting {
    text-align: center;
}
.greeting h2 {
    color: rgb(188, 115, 115);
    font-size: 20px;
    margin: 20px;
}
.greeting p {
    color:rgb(34, 20, 20);
    margin: 15px;
}

.info {
    text-align: center;
}
.info h2 {
    margin: 20px 0;
}
.info ul li {
    display: inline-block;
    margin: 15px;
}
.info ul li p {
    margin: 10px;
}
.job-career {
    color:rgb(202, 133, 72);
    text-align: center;

}
.travel-spot h2 {
    text-align: center;
    margin: 20px;
    color:rgb(195, 83, 120);
}
.travel-spot ul li p {
    text-align: center;
    margin: 10px;
    display: inline-block;
    padding: 100px 0 20px 0;

}
.travel-spot li , .movie-list li {
    width: 50%;
    object-fit: cover;
}
.travel-spot li img , .movie-list li img {
    width: 100%
    object-fit: cover;
}
.movie-list ul li p {
    margin: 15px;
    text-align: center;
    display: inline-block;
}
.movie-list h2 {
    text-align: center;
    margin: 20px;
    color:rgb(236, 63, 121);
}
.info li {
    color:rgb(140, 108, 45);
}

.owner {
    padding: 30px 0;
    background-color: #B73F3F;            
    
}
.owner p {
    display: inline-block;
    margin: 0 50px 0 0;
    text-align: center;
}
.owner p, .owner a {
    color: white;
}

/* media query  */
@media screen and (min-width: 480px) {
#avatar-box {
    background-color: #5487
}

}